/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font: "PressStart2P", fantasy;
  --main-font: "inter", sans-serif;
  --heart-color-red: #ff0000;
  --page-background: #fff;
  --text-color: #000;
  --background-gradient: #d3d3d3;
  --intensity-start: #e7e7e7;
  --intensity-end: #1a1a1a;
  --accent-color: #000;
  --text-font-weight: "wght" 400;
  --title-font-weight: "wght" 700;
  --label-color: #fff;
  --contour-heart: #000;
  --color-mix: #fff;
}
